a.arrow{
    background-image: url(play.png);
    background-repeat: no-repeat;
    background-position: 120px;
}

ul{
    text-transform: uppercase;
    list-style: none;
    width: 145px;
    margin-left: 10px;
    padding: 0px;
    position: absolute;
    display: block;
    box-shadow: 10px 10px 5px rgba(96,96,96,0.8);
}

ul ul{
    margin-left: 1px;
    display: none;
    left: 100%;
    top: 0px;
}

ul li{
    border-bottom: 1px solid white;
    background: cadetblue;
    position: relative;
    display: block;
}

ul li a{
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

ul li:hover{
    background-color: darkturquoise;
}

ul li:hover>ul{
    display: block;
}

body{
    background-image: url(oat.jpg);
}

div.all{
    width: 700px;
    height: 550px;
    margin: 30px auto;
    border-radius: 15px;
    border: 2px solid cadetblue;
    background-image: url(yeay.jpg);
    box-shadow: 15px 15px 6px rgba(96,96,96,0.7);
}

h3.menu{
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    
    width: 100px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 15px;
    margin: 10px auto;
    background-color: cadetblue;
    box-shadow: 7px 7px 5px rgba(96,96,96,0.8);
}

h2.nama{
    text-transform: uppercase;
    
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: brown;
}

div.header{
    width: 700px;
    height: 50px;
    
    border-radius: 10px 10px 0 0;
    background-color: cadetblue;
    
    float: left;
}

div.menu{
    clear: left;
    float: left;
    position: relative;
    border: none;
    border-radius: 0 0 0 15px;
    width: 170px;
    height: 500px;
    background-image: url(yeay.jpg);
    z-index: 5;
}

div.kandungan{
    overflow: auto;
    float: left;
    position: relative;
    border: none;
    border-radius: 0 0 10px 0;
    width: 530px;
    height: 500px;
    z-index: 1;
}
