table{
    font-family: verdana;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    
    width: 500px;
    margin: 0px;
    border-collapse: collapse;
}

caption{
    font-size: 16px;
    font-weight: bold;
    color: cadetblue;
    padding: 8px;
}

td,th{
    padding: 8px;
    border: 2px solid whitesmoke;
}

td.bil{
    width: 20px;
}

td.soalan{
    width: 300px;
    text-align: left;
}

td.skema{
    width: 120px;
    text-align: left;
}

td.keputusan{
    width: 250px;
}

tr:nth-child(odd){
    background-color: thistle;
}

tr:nth-child(even){
    background-color: whitesmoke;
}

th{
    font-weight: bold;
    color: white;
    background-color: cadetblue;
}
